nav{
      background-color: #1C2B35;
      height: 80px;
}
.header{
      padding: 0 60px 0 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1;
}
.header a{
      text-decoration: none;
      color: #fff;
      margin-left: 2rem;
}